# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

lib-cov

coverage/

.grunt

.lock-wscript

node_modules/

# IDE config
.idea

# output
output/
output.tar.gz

runtime/
app/

# config data
/config.development.js
/config.production.js
/adapter.production.js
/adapter.development.js
